.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: max-content;

    & .heading {
        width: 100%;
        margin-bottom: var(--space-md);
        text-align: center;
        font-family: var(--font-family-heading);
        font-size: calc(2 * var(--text-lg));
        font-weight: 600;
        color: var(--color-text-bright);
    }

    & .subheading {
        width: 100%;
        margin-bottom: calc(2 * var(--space-xl));
        text-align: center;
        font-family: var(--font-family-heading);
        font-size: var(--text-lg);
        font-weight: 500;
        color: var(--color-text-placeholder);
    }

    & fieldset {
        display: flex;
        outline: none;
        border: none;
    }

    & > fieldset {
        flex: 1;
        flex-direction: column;
        margin-bottom: var(--space-2xl);
        gap: var(--space-xl);
    }

    & > #forgotLink {
        margin-bottom: var(--space-2xl);
        margin-left: auto;
        margin-right: var(--space-xs);
    }

    & > #signupLink {
        display: flex;
        margin-top: var(--space-2xl);
        margin-left: auto;
        margin-right: auto;
        font-size: var(--text-sm);
        gap: var(--space-xs);
    }

    & .form-error {
        padding-top: var(--space-md);
        padding-left: var(--space-md);
        font-weight: 400;
        font-size: var(--text-xs);
        text-transform: capitalize;
        color: var(--color-error);
    }
}
