.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    padding-left: 10rem;
    padding-right: 10rem;


    & .heading {
        width: 100%;
        text-align: center;
        font-family: var(--font-family-heading);        
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--color-text-bright);
        margin-bottom: 0.25rem; 
    }

    & .subheading {
        width: 100%;
        text-align: center;
        font-family: var(--font-family-heading);        
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--color-text-placeholder);
        margin-bottom: 2rem;
    }

    & > Input {
        margin-bottom: 1.5rem;
    }

    .row-group {
        display: flex;
        gap: 2rem;
        padding: 0;
        margin: 0;
        border: none;

        & > Input {
            flex: 1;
        }

        & #gender {
            flex: 1;
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            border-style: solid;
            border-radius: 0.25rem;
            border-width: 1.5px;
            border-color: var(--color-text-placeholder);

            & > p {
                color: var(--color-text-dim);
                width: min-content;
                height: min-content;
                line-height: 1;
                padding: 0;
                margin: 0;
            }

            & > label {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.25rem;
            }
        }

    }

    & > #forgotLink {
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: 0.5rem;
    }

    & > #signupLink {
        font-size: 1.0625rem;
        margin-top: 2rem;
        display: flex;
        gap: 0.5rem;
        margin-left: auto;
        margin-right: auto;
    }
}