.group {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.exp-group {
    position: relative;
    margin-top: var(--space-xl);
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    & h4 {
        position: absolute;
        top: calc(-1 * (var(--text-xs) + var(--space-sm)));
        left: var(--space-md);
        right: var(--space-md);
    }
    & p,
    ul * {
        font-size: var(--text-md);
        line-height: 1.5;
    }
    & ul {
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);
        list-style: none;
        & li {
            padding-left: var(--space-xl);
            position: relative;
        }
        & li::before {
            position: absolute;
            top: -0.375rem;
            content: '•';
            color: var(--color-accent);
            font-weight: bold;
            font-size: var(--text-xl);
            display: inline-block;
            width: 1rem;
            margin-left: calc(-1 * var(--space-xl));
        }
    }
}

.btns-group {
    margin-top: var(--space-2xs) !important;
}
